* text=auto eol=lf

# Disable diffing for certain file types
*.lock -diff

*.lockb         binary
*.dat           binary
*.bsp           binary
*.bpc           binary
*.fit           binary
*.fits          binary
*.xisf          binary
*.png           binary
*.jpg           binary
*.db            binary
*.gz            binary
*.dll           binary
*.so            binary
*.zip           binary
*.pdf           binary
*.ico           binary
*.webp          binary
