@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html,
body {
	font-size: 14px;
}

.pixelated {
	image-rendering: pixelated;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background: hsla(0deg, 0%, 39.2%, 0.5);
	border-radius: 10px;
	background-clip: content-box;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}
