@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.dark {
	--heroui-background: 0 0% 6%;
	--heroui-line-height-tiny: 0.8rem;
}

html {
	@apply m-0 h-screen overflow-hidden p-0 scroll-smooth touch-none;
}

html,
body {
	font-size: 14px;
	overscroll-behavior: none;
}

/* Context Menu */

div[role="menu"] {
	@apply bg-content2 min-w-60 overflow-hidden rounded-md p-2 shadow-2xl;
}

div[role="menuitem"] {
	@apply cursor-pointer relative flex h-8.5 mb-0.5 select-none items-center gap-2 rounded p-2 leading-none outline-none data-[disabled]:opacity-25 data-[highlighted]:bg-content3/60;
}

div[role="menuitem"].danger {
	@apply text-white bg-danger data-[highlighted]:bg-danger-500;
}

div[role="menuitem"].selected {
	@apply bg-success data-[highlighted]:bg-success-500;
}

div[role="menuitem"] .lucide-chevron-right {
	@apply ml-auto;
}

div[role="separator"] {
	@apply m-1.5 h-px bg-content4/30;
}

/* Dialog */

section[role="dialog"] {
	@apply pointer-events-auto opacity-98;
}

/* Tooltip */

div[role="tooltip"] {
	@apply pointer-events-none;
	z-index: 10000001 !important;
}

/* Select Popover */

div[data-slot="popover"] {
	@apply !w-fit;
}

/** Popover Menu */

div:has(div[data-slot="base"][data-open="true"][role="dialog"]) {
	z-index: 10000000 !important;
}

/* Utilities */

.pixelated {
	image-rendering: pixelated;
}

/* Scrollbar */

.no-scrollbar::-webkit-scrollbar {
	@apply hidden;
}

::-webkit-scrollbar {
	@apply w-1.5 h-1.5;
}

::-webkit-scrollbar-thumb {
	@apply bg-clip-content rounded-xl bg-gray-600/50;
}

::-webkit-scrollbar-track {
	@apply rounded-xl bg-transparent;
}

::-webkit-scrollbar-track-piece {
	@apply bg-transparent;
}

::-webkit-scrollbar-corner {
	@apply bg-transparent;
}
