@import "tailwindcss";
@plugin "./hero.ts";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

.dark {
	--heroui-background: 0 0% 6%;
	--heroui-line-height-tiny: 0.8rem;
	--heroui-content1: 0 0% 9.4%;
}

html {
	@apply m-0 w-dvw h-dvh overflow-hidden p-0 scroll-smooth touch-none;
}

html,
body {
	@apply text-[13px] overscroll-none;
	filter: grayscale(var(--ws-disconnected-grayscale, 0%));
}

svg {
	stroke-linecap: round;
	stroke-linejoin: round;
}

/* Remove white border around SVG */

svg:focus {
	outline: none;
}

/* Dialog */

div[data-slot="wrapper"]:has(section[role="dialog"]) {
	@apply overflow-hidden;
}

section[role="dialog"] {
	@apply pointer-events-auto opacity-97;
}

/* Tooltip */

div[role="tooltip"] {
	@apply pointer-events-none z-10000001!;
}

/* Select Popover */

div[data-slot="popover"] {
	@apply min-w-fit!;
}

/* Select Trigger */

div[data-slot="base"] div[data-slot="mainWrapper"] button[data-slot="trigger"] {
	@apply min-h-fit;
}

/* Popover Menu */

div:has(div[data-slot="base"][data-open="true"][role="dialog"]) {
	@apply z-10000000!;
}

/* Home Menu */

.home-menu {
	button:disabled {
		@apply grayscale;
	}
}

/* Utilities */

.pixelated {
	image-rendering: pixelated;
}

/* Scrollbar */

.no-scrollbar::-webkit-scrollbar {
	@apply hidden;
}

::-webkit-scrollbar {
	@apply w-1.5 h-1.5;
}

::-webkit-scrollbar-thumb {
	@apply bg-clip-content rounded-xl bg-gray-600/50;
}

::-webkit-scrollbar-track {
	@apply rounded-xl bg-transparent;
}

::-webkit-scrollbar-track-piece {
	@apply bg-transparent;
}

::-webkit-scrollbar-corner {
	@apply bg-transparent;
}
